<div class="state">
	<div class="block1">
		<div class="circle1">
			<p>heba</p>
		</div>
		<h4>heba bahaa</h4>
	</div>

	<div class="block2">
		<div class="circle2">
			<p>heba</p>
		</div>
		<h5>heba bahaa</h5>
	</div>
	<div class="block2">
		<div class="circle2">
			<p>heba</p>
		</div>
		<h5>heba bahaa</h5>
	</div>
	<div class="block2">
		<div class="circle2">
			<p>heba</p>
		</div>
		<h5>heba bahaa</h5>
	</div>

	<div class="block3">
		<div class="draw">
			<div class="circle3">
				<p>12</p>
				<div class="line"></div>
			</div>
		</div>
		<div class="data">
			<h5>heba</h5>
			<div class="item">
				<div class="circle4">
					<p>12</p>
					<div class="line1"></div>
				</div>
				<h6>text text</h6>
			</div>
			<div class="item">
				<div class="circle4">
					<p>12</p>
					<div class="line1"></div>
				</div>
				<h6>text text</h6>
			</div>
			<div class="item">
				<div class="circle4">
					<p>12</p>
					<div class="line1"></div>
				</div>
				<h6>text text</h6>
			</div>
		</div>
	</div>

</div>