<div class="state">
	<div class="block1">
		<div class="circle1">
			<p *ngIf="!state.STT" style="font-size: 15px;">غير منتظم</p>
			<p *ngIf="state.STT">منتظم</p>
		</div>
		<h4>الحالة الراهنة</h4>
	</div>

	<div class="block2">
		<div class="circle2">
			<p>{{ state.ptd }}</p>
		</div>
		<h5>المنقضى من فترة التنفيذ</h5>
	</div>
	<div class="block2">
		<div class="circle2">
			<p>{{ state.WT }}</p>
		</div>
		<h5>نسبة الانجاز الكلية</h5>
	</div>
	<div class="block2">
		<div class="circle2">
			<p>{{ state.QA }}</p>
		</div>
		<h5>نسبة جودة اﻷداء</h5>
	</div>

	<div class="block3">
		<div class="draw">
			<div class="circle3">
				<p>{{ state.LEN }}</p>
				<div class="line"></div>
			</div>
		</div>
		<div class="data">
			<h5>عدد المهام الحالية</h5>
			<div class="item">
				<div class="circle4">
					<p>{{ state.ONT }}</p>
					<div class="line1"></div>
				</div>
				<h6>المهام المنتظمة</h6>
			</div>
			<div class="item">
				<div class="circle4">
					<p>{{ state.LTE }}</p>
					<div class="line1"></div>
				</div>
				<h6>المهام المتأخرة</h6>
			</div>
			<div class="item">
				<div class="circle4">
					<p>{{ state.STP }}</p>
					<div class="line1"></div>
				</div>
				<h6>المهام المتوقفة</h6>
			</div>
		</div>
	</div>

</div>