<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#filter1">
                    Filter
                </a>
                <a class="pull-right" data-toggle="collapse" href="#filter1">
                    <span class="glyphicon glyphicon-filter"></span>
                </a>
            </h4>
        </div>
        <div id="filter1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="filter-setting">
                    <label>Lorem Ipsum</label>
                    <!-- <a class="pull-right collapsed-icon-toggle" href="#coll-2" data-toggle="collapse">
                        <span class="glyphicon glyphicon-minus on-opened"></span>
                        <span class="glyphicon glyphicon-plus on-closed"></span>
                    </a> -->
                    <br/>
                    <div id="coll-2" class="scroll-v-250px collapse in">
                        <a class="item" id="x" (click)="getData($event)">Lorem Ipsum 1</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>