<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<app-navbar2></app-navbar2>
			<app-marquee></app-marquee>
		</div>
	</div>	
	<div class="programs">
		<div class="row">
			<div class="col-md-9 col-sm-10">
				<div class="row">
					<div class="col-md-12">
						<h3>
							<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> الخطة في السطور
						</h3>
						<h4>اﻷهداف الاستراتيجة للخطة</h4>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-5">
						<app-list [list]="programs"></app-list>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-7">
						<div class="content">
							<p><span class="title">عنوان البرنامج:</span></p>
							<p><span class="title">التكلفة التقديرية: </span></p>
							<p><span class="title">فترة البرنامج: </span></p>
							<p><span class="title">مدير البرنامج: </span></p>
							<p><span class="title">تاريخ البداية المخطط: </span></p>
							<p><span class="title">تاريخ البداية الفعلي: </span></p>
							<p><span class="title">تاريخ لنهاية المخطط: </span></p>
							<p><span class="title">تاريخ النهاية الفعلي: </span></p>
							<p><span class="title">وصف البرنامج: </span></p>
							<h5>اﻷهداف العامة: </h5>
							<ul>
								<li>نشر العلم الشرعي المؤصل</li>
							</ul>
							<h5>الاستراتيجيات العامة: </h5>
							<ul>
								<li>نشر العلم الشرعي المؤصل</li>
							</ul>
							<h5>المشاريع: </h5>
							<ul>
								<li>نشر العلم الشرعي المؤصل</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-2 hidden-xs">
				<app-state></app-state>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 nopad">
			<app-footer></app-footer>
		</div>
	</div>
</div>