<div class="row">
	<div class="col-md-3 col-sm-3 col-xs-5">
		<app-list></app-list>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-7">
		<div class="content">
			<p><span class="title">عنوان البرنامج:</span></p>
			<p><span class="title">التكلفة التقديرية: </span></p>
			<p><span class="title">فترة البرنامج: </span></p>
			<p><span class="title">مدير البرنامج: </span></p>
			<p><span class="title">تاريخ البداية المخطط: </span></p>
			<p><span class="title">تاريخ البداية الفعلي: </span></p>
			<p><span class="title">تاريخ البداية المخطط: </span></p>
			<p><span class="title">تاريخ النهاية الفعلي: </span></p>
			<p><span class="title">وصف البرنامج: </span></p>
			<h5>اﻷهداف العامة: </h5>
			<ul>
				<li>نشر العلم الشرعي المؤصل</li>
			</ul>
			<h5>الاستراتيجيات العامة: </h5>
			<ul>
				<li>نشر العلم الشرعي المؤصل</li>
			</ul>
			<h5>المشاريع: </h5>
			<ul>
				<li>نشر العلم الشرعي المؤصل</li>
			</ul>
		</div>
	</div>
	<div class="col-md-3 col-sm-2 hidden-xs">
		<app-state></app-state>
	</div>
</div>