<div class="container-fluid">
	<div class="row">
		<div class="col-md-9 nopad">
			
			<div class="head">
				<img src="./assets/images/head1.png" class="right">
				<div class="head_title">
					<h4>الخطة الاستراتيجية</h4>
					<h4>لكلية المسجد النبوي</h4>
					<p> 1439 - 1444 ه | 2018 - 2022 م </p>
				</div>
				<img src="./assets/images/head2.png" class="left">
			</div>

			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
					</div>
					<div class="collapse navbar-collapse" id="navbar1">
						<ul class="nav navbar-nav">
							<li routerLinkActive="active" data-target="#myCarousel" data-slide-to="0"><a>
								<img src="http://via.placeholder.com/40x40" alt="">الرؤية</a>
							</li>
							<li routerLinkActive="active" data-target="#myCarousel" data-slide-to="1"><a>
								<img src="http://via.placeholder.com/40x40" alt="">الرسالة</a>
							</li>
							<li routerLinkActive="active" data-target="#myCarousel" data-slide-to="2"><a>
								<img src="http://via.placeholder.com/40x40" alt="">اﻷهداف</a>
							</li>
							<li routerLinkActive="active" data-target="#myCarousel" data-slide-to="3"><a>
								<img src="http://via.placeholder.com/40x40" alt="">البرامج</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>


			<app-marquee></app-marquee>
			<app-slider></app-slider>

			<div class="content">
			    <h4>أهلا ومرحبا بكم في الموقع الرسمي للخطة الاستراتيجية لكلية المسجد النبوي.</h4>
			    <p>
			        لقد عملت الرئاسة العامة لشؤون المسجد الحرام والمسجد النبوي على الالتزام برؤية المملكة الواعدة من خلال إعداد استراتيجيتها العامة (حرمين) للسنوات العشر 1438-1448هـ والتي من خلالها يعمل كل قطاع ذو شخصية اعتبارية من قطاعات الرئاسة ببناء خطته لاستراتيجية والمسارات التنفيذية الخاصة به. وامتدادا لجهود الرئاسة العامة في تحقيق رؤية المملكة 2030م، عملت كلية المسجد النبوي كإحدى أهم القطاعات التعليمية التابعة للرئاسة على بناء خطتها الاستراتيجية للسنوات الخمس 1439-1444هـ تحت مظلة استراتيجية الرئاسة العامة لشؤون المسجد الحرام والمسجد النبوي. 
			    </p>
			</div> 


			<app-footer></app-footer>
		</div>
		<div class="col-md-3 nopad">
			<app-sidebar></app-sidebar>
		</div>
	</div>
</div>