<div class="container-fluid">
	<div class="row">
		<div class="col-md-9 nopad">
			<app-navbar1></app-navbar1>
			<app-marquee></app-marquee>
			<app-slider></app-slider>

			<div class="content">
			    <h4>أهلا ومرحبا بكم في الموقع الرسمي للخطة الاستراتيجية لكلية المسجد النبوي.</h4>
			    <p>
			        لقد عملت الرئاسة العامة لشؤون المسجد الحرام والمسجد النبوي على الالتزام برؤية المملكة الواعدة من خلال إعداد استراتيجيتها العامة (حرمين) للسنوات العشر 1438-1448هـ والتي من خلالها يعمل كل قطاع ذو شخصية اعتبارية من قطاعات الرئاسة ببناء خطته لاستراتيجية والمسارات التنفيذية الخاصة به. وامتدادا لجهود الرئاسة العامة في تحقيق رؤية المملكة 2030م، عملت كلية المسجد النبوي كإحدى أهم القطاعات التعليمية التابعة للرئاسة على بناء خطتها الاستراتيجية للسنوات الخمس 1439-1444هـ تحت مظلة استراتيجية الرئاسة العامة لشؤون المسجد الحرام والمسجد النبوي. 
			    </p>
			</div>


			<app-footer></app-footer>
		</div>
		<div class="col-md-3 nopad">
			<app-sidebar></app-sidebar>
		</div>
	</div>
</div>