.plans{
	margin: 0 0 50px;
}
.brdr{
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
}
.brd_rght{
	border-right: 1px solid #ddd; 
}
.c100{
	float: inherit;
	margin: 0 0.15em 0.1em 0;
}
.block2{
	margin-bottom: 20px;
}
.block2 .circle2 {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	font-size: 18px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	background: #A7852B;
	border: 10px solid #ddd;
	margin: 0 auto;
	float: right;
}
.block2 h5{
	display: inline;
	margin-right: 20px;
	line-height: 70px;
}

.block3{
	margin: 10px auto 0;
	/*width: 275px;*/
	min-height: 200px;
}
.line {
	width: 1px;
	height: 140px;
	border: 1px dashed #f00;
	margin-right: 15px;
	display: inline-block;
}
.circle3 {
	width: 40px;
	height: 40px;
	background-color: #4a1e03;
	border: solid 5px #ccc;
	border-radius: 50%;
	display: inline-block;
}
.draw{
	width: 30%;
	display: inline-block;
}
.data{
	/*width: 68%;*/
	display: inline-block;
	text-align: right;
}
.block3 h5{
	vertical-align: middle;
	margin-right: 10px;
	position: relative;
	top: -10px;
}
.item{
	height: 40px
}
.item h6{
	margin-right: 30px;
	margin-top: -4px;
}
.line1 {
	width: 35px;
	height: 1px;
	border: 1px dashed #f00;
	margin-right: -40px;
	display: inline-block;
	position: relative;
	top: -32px;
}
.circle4 {
	width: 35px;
	height: 35px;
	background-color: #4a1e03;
	border: solid 5px #ccc;
	border-radius: 50%;
	margin-bottom: 12px;
    margin-right: -20px;
    position: relative;
    bottom: -34px;

}
.circle4 p{
	color: #fff;
	text-align: center;
	margin-top: 2px;
}
.block3 .draw p{
	color: #fff;
	text-align: center;
	margin-top: 5px;
}
h3, h4, h5{
	color: #4a1e03;
}
h3{
	margin-bottom: 20px;
}
.content h2{
	font-size: 27px;
	color: #4a1e03;
}
.content h3{
	color: #c79462;
}