<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<app-navbar2></app-navbar2>
			<app-marquee></app-marquee>
		</div>
	</div>	
	<div class="plans">
		<div class="row">
			<div class="col-md-7">
				<div class="content">
					<h3>
						<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> الخطة في السطور
					</h3>
					<h2>اﻷهداف الاستراتيجة للخطة</h2>
					<ul>
						<li *ngFor="let goal of goals"> {{ goal.name }}</li>
					</ul>

					<h2>برامج الخطة</h2>
					<ul>
						<a *ngFor="let program of programs" routerLink="/programs/{{program._id}}"><li> {{ program.name }}</li></a>
					</ul>
				</div>
			</div>
			<div class="col-md-5">
				<div class="brdr">
					<div class="row">	
						<div class="col-xs-4">
							<div class="c100 p12 green">
								<span>12%</span>
								<div class="slice">
									<div class="bar"></div>
									<div class="fill"></div>
								</div>
							</div>
							<h4 class="text-center">heba</h4>
						</div>
						<div class="col-xs-4 brd_rght">
							<div class="c100 p25 green">
								<span>25%</span>
								<div class="slice">
									<div class="bar"></div>
									<div class="fill"></div>
								</div>
							</div>
							<h4 class="text-center">heba</h4>
						</div>
						<div class="col-xs-4 brd_rght">
							<div class="c100 p85 green">
								<span>85%</span>
								<div class="slice">
									<div class="bar"></div>
									<div class="fill"></div>
								</div>
							</div>
							<h4 class="text-center">heba</h4>
						</div>
					</div>
				</div>
				
				<div class="brdr">
					<div class="row">
						<div class="col-xs-6">
							<div class="block2">
								<div class="circle2">
									<p>heba</p>
								</div>
								<h5>heba bahaa</h5>
							</div>
							<div class="block2">
								<div class="circle2">
									<p>heba</p>
								</div>
								<h5>heba bahaa</h5>
							</div>
						</div>
						<div class="col-xs-6 brd_rght">
							<div class="block3">
								<div class="draw">
									<div class="circle3">
										<p>12</p>
										<div class="line"></div>
									</div>
								</div>
								<div class="data">
									<h5>heba</h5>
									<div class="item">
										<div class="circle4">
											<p>12</p>
											<div class="line1"></div>
										</div>
										<h6>text text</h6>
									</div>
									<div class="item">
										<div class="circle4">
											<p>12</p>
											<div class="line1"></div>
										</div>
										<h6>text text</h6>
									</div>
									<div class="item">
										<div class="circle4">
											<p>12</p>
											<div class="line1"></div>
										</div>
										<h6>text text</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<a routerLink="/programs">
							<h3>
								البرامج
							</h3>
							<img src="http://via.placeholder.com/60x60" class="img-responsive">
						</a>
					</div>
					<div class="col-xs-4">
						<a routerLink="/projects">
							<h3>
								المشاريع
							</h3>
							<img src="http://via.placeholder.com/60x60" class="img-responsive">
						</a>
					</div>
					<div class="col-xs-4">
						<h3>
							التقارير
						</h3>
						<img src="http://via.placeholder.com/60x60" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 nopad">
			<app-footer></app-footer>
		</div>
	</div>
</div>