<div class="row">
	<div class="col-md-6">
		
	</div>

	<div class="col-md-6">
		<div class="row">	
			<div class="col-xs-4">
				<div class="c100 p12 green">
					<span>25%</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="c100 p12 green">
					<span>25%</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="c100 p12 green">
					<span>25%</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="col-xs-6">
					<div class="block2">
						<div class="circle2">
							<p>heba</p>
						</div>
						<h5>heba bahaa</h5>
					</div>
					<div class="block2">
						<div class="circle2">
							<p>heba</p>
						</div>
						<h5>heba bahaa</h5>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="block3">
						<div class="draw">
							<div class="circle3">
								<p>12</p>
								<div class="line"></div>
							</div>
						</div>
						<div class="data">
							<h5>heba</h5>
							<div class="item">
								<div class="circle4">
									<p>12</p>
									<div class="line1"></div>
								</div>
								<h6>text text</h6>
							</div>
							<div class="item">
								<div class="circle4">
									<p>12</p>
									<div class="line1"></div>
								</div>
								<h6>text text</h6>
							</div>
							<div class="item">
								<div class="circle4">
									<p>12</p>
									<div class="line1"></div>
								</div>
								<h6>text text</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>