.sidebar{
	background-color: #eee;
	padding: 20px;
	color: #c79462;
	height: 800px;
}
.sidebar > h2{
	color: #4a1e03;
}
.sidebar .form-control{
	color: #4a1e03;	
	/*border-color: #4a1e03;*/
}
#forget_password{
	text-decoration: underline;
	float: left;
	color: #c79462;
}

.list-group > li{
	margin-bottom: 15px;
}

h3{
	font-size: 23px;
	margin: 20px 0;
}
